<!-- Wrapper -->
<div class="position-relative">

	<!-- Gallery -->
	<div class="container my-5"
			 ng-if="data && data.length">

		<!-- Gallery title -->
		<div class="row justify-content-center mb-3 mt-5">
			<p class="col-11 col-md-10 col-xl-9 nt-3 mb-5 text-center text-white display-6">
	 			{{title}}
				<hr style="color:white;">
			</p>
		</div>

		<!-- Picture(s) -->
		<div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 row-cols-xxl-4 g-3" 
				 style="padding: 60px;">
			<div class="col" ng-repeat="item in data track by $index">
	 			<div class="card shadow-sm-bottom-end cursor-pointer overflow-hidden" 
						 data-index="{{$index}}"
						 ng-click="methods.itemClicked($event)">
		 			<img class="card-img-top img-fluid" 
							 alt="img" 
							 ng-src="{{item}}"
							 data-bs-toggle="modal" 
		           data-bs-target="#image_preview">
	 			</div>
			</div>
		</div>
	</div>

	<!-- Modal -->
	<div id="image_preview"
			 class="modal fade"  
			 data-bs-backdrop="static" 
			 data-bs-keyboard="false" 
			 tabindex="-1" 
			 aria-hidden="true">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
	 			<div class="modal-header">
					<button type="button" 
									class="btn-close text-color-base" 
									data-bs-dismiss="modal" 
									aria-label="Close">
					</button>
	 			</div>
	 			<div class="modal-body position-relative">
					<div class="modal-image text-center">
						<img ng-src="{{data[itemIndex]}}"
								 class="img-fluid"
								 alt="img">
					</div>
					<i class="modal-btn fa-solid fa-angle-right fa-4x text-color-company cursor-pointer
									 	position-absolute btnClickEffect top-50 end-0 translate-middle me-2"
						 ng-click="methods.changeImage($event)">
					</i>
					<i class="modal-btn fa-solid fa-angle-left fa-4x text-color-company cursor-pointer
										position-absolute btnClickEffect top-50 start-0 translate-middle ms-5"
						 ng-click="methods.changeImage($event)">
					</i>
	 			</div>
			</div>
		</div>
	</div>
</div>

<!--Slider-->
<div class="slider">
	<ul>
	  <li ng-repeat="x in [].constructor(74) track by $index">
		<img ng-src="./img/csuszka_kepek/disz{{$index+1}}.jpeg" alt="">
	  </li>
	</ul>
</div>