  
<div class="header mt-5">
	<div class="container">
		<div class="row mt-5">
			<h1 class="text-center mt-5">Kontakt</h1>
		</div>
	</div>
</div>
    
<div class="container mt-5 ">
    <div class="row justify-content-center">
        <div class="col-11 col-lg-4 col-xl-5">
            <div class="card" id="kapcsolatokCard">
                <img ng-src="./img/LenkeSzep.jpg" class="card-img-top img-fluid" alt="...";>
            </div>
        </div>
        <div class="col-11 col-lg-8 col-xl-6 mt-3 mt-lg-0">
            <form name="kapcsolatForm">
                <div class="form-group">
                    <input type="text" 
                           class="form-control" 
                           id="name" 
                           name="name" 
                           ng-model="model.name" 
                           ng-init="model.name=null" 
                           required 
                           placeholder="Name:">
                </div>
                <div class="form-group">
                    <input type="email" class="form-control" id="email" name="email" ng-model="model.email" ng-init="model.email=null" required placeholder="Email:">
                </div>
                <div class="form-group">
                    <textarea class="form-control" id="message" name="message" ng-model="model.message" ng-init="model.message=null" required placeholder="Nachricht:" rows="10"></textarea>
                </div>
                    <button type="button" id="kapcsolat5" name="submit_button" 
                            ng-click="kuld()"
                            ng-disabled="kapcsolatForm.$invalid">Senden 
                    </button>
            </form>
        </div>
    </div>
</div>

    <div class="row">
        <div class="col-md-12 col-lg-12 my-5">
            <label class="elerhetoseg text-center" for="name"><h5>Presing Lenke</h5> </label>
            <hr style="color:white; width: 55%; margin: auto; margin-bottom: 1%;">
            <label class="elerhetoseg text-center" for="name" >E-mail:<br>lenkepresing@gmail.com </label>
            <hr style="color:white; width: 55%; margin: auto; margin-bottom: 1%;">
            <label class="elerhetoseg text-center" for="name" >Telefon: <br>+36703853984 </label>
            <hr style="color:white; width: 55%; margin: auto; margin-bottom: 1%;">
            <p class="elerhetoseg text-center">Alte Website:</p>  
            <div class="d-flex justify-content-center"> 
            <a class="regioldal" href="https://lenke-torta.lapunk.hu/magamrl-367031" target="_blank">lenke-torta.lapunk.hu</a>
            <hr>
            </div>
        </div>
    </div>

<!--Slider-->
<div class="slider">
	<ul>
	  <li ng-repeat="x in [].constructor(74) track by $index">
		<img ng-src="./img/csuszka_kepek/disz{{$index+1}}.jpeg" alt="">
	  </li>
	</ul>
</div>